[user]
	email = btscott@amazon.co.uk
	name = Ben Scott
[color]
	ui = auto
[core]
	pager = delta
	editor = nvim
[push]
	default = simple
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[rebase]
	autoStash = true
	autoSquash = true
[pull]
	rebase = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictStyle = zdiff3
